*.elc
*.un~
.python-environments
ac-comphist.dat
auto-save-list
elpa/archives
elpa/gnupg/
ido.last
epylint.log
eshell
.#ac-comphist.dat
circe.pass
eslint/node_modules/
projectile-bookmarks.eld
projectile.cache
/elpa
