*.elc
*.un~
.python-environments
ac-comphist.dat
auto-save-list
elpa/archives
elpa/gnupg/
ido.last
epylint.log
eshell
.#ac-comphist.dat
circe.pass
eslint/node_modules/
projectile-bookmarks.eld
projectile.cache
/elpa
/history
/recentf
/abbrev_defs
/eslint/package-lock.json
/backup
/.lsp-session-v1
/.cask
/async-bytecomp.log
/.local
/transient
